html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header {
    background: #1f2937;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 15vh;
}

/* HEADER NAVIGATION */

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    color: #f9faf8;
}

.header__nav-logo {
    font-size: 24px;
    font-weight: 700;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-item {
    font-size: 18px;
}

/* HEADER DETAIL */

.header__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 60px;
    gap: 1vw;
}

.header__detail {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    flex: 1;
}

.header__detail-title {
    color: #f9faf8;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 40px;
}

.header__detail-context {
    color: #e5e7ebe3;
    padding: 8px 0;
    font-size: 18px;
    line-height: 30px;
}

.header__detail-button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 15px;
    border-radius: 6px;
    align-self: flex-start;
}

.header__img {
    flex: .7 1 0;
    display: flex;
    align-items: center;
}

.header__img > img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 5px 8px 2px #888888;
}

/* INFORMATION */

.information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10vh 15vw;
    gap: 7vh;
}

.information__skills-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}

.information__skill-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.information__icon-wrapper {
    border: #3882f6 solid 4px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 5px 8px 2px #888888;
}

.information__skill-icon {
    max-width: 100%;
    height: auto;
}

.information__header {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.information__skill-text {
    font-size: 22px;
    color:#1f2937;
    text-transform: lowercase;
}

/* TESTIMONIALS */
.testimonials {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
    padding: 15vh 300px 10vh 300px;
    background-color: #e5e7eb;
}

.testimonials_text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.testimonials_who {
    opacity: 0.5;
    align-self: flex-end;
}

/* CALL TO ACTION */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh 10vw;
}

.cta__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    background-color: #3882f6;
    padding: 50px 100px;
    border-radius: 10px;
}

.cta__detail {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.cta__heading,
.cta__text {
    color: white;
}


.cta__button {
    border: #e5e7eb solid 2px;
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    flex-shrink: 0;
}

/* FOOTER */



